@define-color black #1b1d2b;
@define-color red #ff757f;
@define-color green #c3e88d;
@define-color yellow #ffc777;
@define-color blue #82aaff;
@define-color purple #c099ff;
@define-color cyan #86e1fc;
@define-color gray2 #828bb8;
@define-color gray1 #444a73;

@define-color background #222436;
@define-color foreground #c8d3f5;
@define-color selection-background #2d3f76;
@define-color selection-foreground #c8d3f5;

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Everything */
* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
	font-family: FiraCode Nerd Font;
	font-size: 15px;
	animation: none;
	transition: none;
}

/* The whole bar */
window#waybar {
	color: @foreground;
	background: @background;
}

/* Each module */
#idle_inhibitor,
#clock.date,
#clock,
#custom-pomodoro,
#cpu,
#memory,
#disk,
#tray,
#wireplumber,
#battery {
	padding-left: 10px;
	padding-right: 10px;
}

/* Hover */
#workspaces button:hover,
#custom-pomodoro:hover,
#tray>widget:hover,
#wireplumber:hover,
#idle_inhibitor:hover {
	color: @foreground;
	background: @selection-background;
}

#cpu,
#memory,
#disk {
	color: @blue;
}

#cpu.low,
#memory.low,
#disk.low {
	color: @green;
}

#idle_inhibitor.activated,
#cpu.medium,
#memory.medium,
#disk.medium {
	color: @yellow;
}

#wireplumber.muted,
#cpu.high,
#memory.high,
#disk.high {
	color: @red;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#workspaces * {
	font-size: 18px;
}

#workspaces button {
	padding-left: 10px;
	padding-right: 10px;
}

#workspaces button.special {
	color: @purple;
}

/* visible on other monitor */
#workspaces button.visible {
	color: @blue
}

/* visible on this monitor */
#workspaces button.hosting-monitor.visible {
	color: @cyan;
}

/* active and on this monitor */
#workspaces button.hosting-monitor.active {
	color: @green;
}

#workspaces button.urgent {
	color: @yellow;
}

tooltip {
	color: @foreground;
	background: @background;
	padding: 15px;
	margin: 0px;
}

#idle_inhibitor {}

#clock.date {
	font-weight: Normal;
}

#clock {
	font-weight: Bold;
}

#custom-pomodoro {}

#cpu {}

#memory {}

#disk {}

#tray {}

#tray menu * {
	padding: 0px 5px;
}

#wireplumber {}

#battery {}

#battery.warning:not(.charging) {
	color: @foreground;
	background: @yellow;
}

#battery.critical:not(.charging) {
	color: @foreground;
	background: @red;
}
